.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  /* color: rgb(1, 255, 10); */
  /* color: white; */
}

body {
  overflow-x: hidden; /* Disable horizontal scrolling */
}

p {
  font-size: large;
  font-weight: bold;
  color: rgb(1, 255, 10);
  text-shadow: 2px 2px 0 black,
              -2px 2px 0 black,
              2px -2px 0 black,
              -2px -2px 0 black;
}

.headers{
  font-weight: bold;
  text-decoration: underline;
  /* color: rgb(159, 255, 163); */
  color: white;
  text-shadow: 2px 2px 0 black,
              -2px 2px 0 black,
              2px -2px 0 black,
              -2px -2px 0 black;
}

.custom-btn{
  background-color: aqua;
  color: black;
  font-weight: bold;
  border: 2px solid black;
  padding: 7px;
}

.left-aligned {
  text-align: left;
}

.dial-image {
  width: 60%;
  object-fit: cover;
}

.dial-3x3 {
  width: 20vw;
  max-width: 30vh;
  object-fit: contain;
  transform: scale(1);
}

.dial-9x9 {
  width: 10vw;
  max-width: 10vh;
  object-fit: contain;
  transform: scale(1);
}

.attempts-icon {
  width: 10vw;
  max-width: 15vh;
  object-fit: cover;
}

.submit-btn {
  width: 10vw;
  max-width: 15vh;
  object-fit: cover;
}